.datetime-widget {
    background-color: #5a5a5a52;
    color: #03080a;
    padding: 15px 25px;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.datetime-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-icon {
    font-size: 2rem;
}

.date-info {
    text-align: center;
    flex-grow: 1;
}

.current-date {
    font-size: 1rem;
    font-weight: bold;
}

.day-of-week {
    font-size: 1rem;
    font-weight: bold;
}

.current-time {
    font-size: 1.5rem;
    font-weight: bold;
}