.const-card-title {
    font-size: 2rem;
}

.card {
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card-header {
    background-color: #16996d4f;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-image {
    height: 150px;         /* Fixed height */
    width: auto;           /* Width will adjust based on aspect ratio */
    object-fit: cover;     /* Maintains aspect ratio */
    display: block;
    border-radius: 4px;
    margin: 10px auto;
}

/* Hover effect */
.hover-shadow:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease;
}

/* Spacing between posts */
.mb-4 {
    margin-bottom: 1.5rem !important;
}