<!doctype html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ועד בית אגס 9</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function updateTasks() {
            $.getJSON("/get_tasks/", function(data) {
                var tasksHtml = '';
                for (var i = 0; i < data.length; i++) {
                    tasksHtml += `
                        <li class="list-group-item list-group-item-auto">
                            <div class="update-header">
                                <div class="update-title">${data[i][3]} ${data[i][1]}</div>
                                <div class="update-date">${data[i][0]}</div>
                            </div>
                            <div class="update-content">${data[i][2]}</div>
                        </li>
                    `;
                }
                $("#updates-list").html(tasksHtml);
            });
        }

        $(document).ready(function() {
            updateTasks();
            setInterval(updateTasks, 5000); // Update every 5 seconds
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <span class="navbar-brand">🏠 ברוכים הבאים לפורטל אגס 9</span>
        </div>
    </nav>

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-8">
                <h2>&nbsp;</h2>
                <div class="row mb-4" id="constant-cards">
                    <div class="col-md-4 d-flex">
                        <div class="card text-center custom-card w-100">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h5 class="card-title"><i class="fas fa-volume-mute fa-2x"></i></h5>
                                <div>
                                    <p class="card-text mb-0">נא לשמור על השקט!</p>
                                    <p class="card-text-small mb-0">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex">
                        <div class="card text-center custom-card w-100">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h5 class="card-title"><i class="fas fa-video fa-2x"></i></h5>
                                <div>
                                    <p class="card-text">אזהרה</p>
                                    <p class="card-text-small mb-0">מקום זה מצולם במצלמות במעגל סגור</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex">
                        <div class="card text-center custom-card w-100">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h5 class="card-title"><i class="fas fa-smoking-ban fa-2x"></i></h5>
                                <div>
                                    <p class="card-text mb-0">בשטח זה העישון אסור</p>
                                    <p class="card-text-small mb-0">המעשנים עוברים על החוק וגורמים לפגיעה באנשים הנמצאים באזורם</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <ul id="updates-list" class="list-group">
                    <!-- Content will be dynamically updated here -->
                </ul>
            </div>
            <div class="col-md-3">
                <div class="calendar">
                    <header>
                        <div class="monthYear" id="monthYear"></div>
                    </header>
                    <section>
                        <ul class="days">
                            <div class="day">יום א</div>
                            <div class="day">יום ב</div>
                            <div class="day">יום ג</div>
                            <div class="day">יום ד</div>
                            <div class="day">יום ה</div>
                            <div class="day">יום ו</div>
                            <div class="day">שבת</div>
                        </ul>
                        <ul class="dates" id="dates"></ul>
                    </section>
                </div>
                <div class="mt-4 clock-container">
                    <div id="current-time" class="clock">
                        <span id="current-time"></span>
                    </div>
                </div>
                <div class="mt-4 qr-code">
                    <img src="{{ url_for('static', filename='images/aga9_g.webp') }}" alt="Description of the image" class="img-fluid rounded small-img">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js'></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>

</body>

</html>